.block-container{:class => "#{language.name}"}
  - if params[:action] == "home"
    .heading
      .sticky
        .container
          .col-sm-offset-5.sticky-language
            = link_to language.name, language_path(language)
      .language-heading-name
        .container
          .col-sm-offset-5
            = link_to language.name, language_path(language)
  .container.links-container
    %ul.col-sm-12.links-ul
      - if params[:action] == "home"
        = render language.links.first(3)
        .see-all
          = link_to language_path(language) do
            %li.link
              .link-container
                .link-head
                  = "See all #{language.name} tutorials"
      - else
        = render language.links
