%li.link{"data-id" => link.id, "data-url" => language_link_path(link.tag.language, link), class: ('new-link' if flash[:new_link_id] == link.id) }
  .link-container
    .link-head
      %span.link-title
        = link.title
        .link-author
          - if !link.author.blank?
            = link.author
            |
          = link.url_host
      .link-metadata
        - if !link.free
          %span.free-tag
            $
        %span.level-tag{class: link.level_name}
          = link.level_name
        %span.votes-count
          %span.user-votes
            - if current_user
              - if current_user.voted_on?(link.id)
                %i.checkmark.voted.fa.fa-heart
              - else
                %i.checkmark.vote-button.fa.fa-heart
            - else
              %i.checkmark.fa.fa-heart{"data-toggle"=>"modal", "data-target"=>".login-form"}
            = render link.votes

    .link-expanded.collapse
      .link-description
        = link.description
        %span.link-author
          = "- "
          = link_to "@#{link.user.username}", "http://github.com/#{link.user.username}", :target=>"_blank"
      = link_to "Start Tutorial ->", link.url, :target=>"_blank", :class=> "link-url"
      %div{:style=>"clear:both"}
