.modal.new-link-form{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        Add a new link
        %button{type:"button", class:"close", "data-dismiss"=>"modal", "aria-hidden"=>"true"} &times;
      .modal-body.container-fluid
        = form_for [@language, @newLink], html: {class: "form-horizontal", role: "form"} do |f|
          = f.hidden_field :language, value: @language.id
          .form-group
            = f.label :title, "What do you make?"
            = f.text_field :title, autocomplete: "off"
          .form-group
            = f.label :url, "URL"
            = f.text_field :url, value: "http://", type: "url", autocomplete: "off"
          .form-group
            = f.label :author, "Author (optional)"
            = f.text_field :author, autocomplete: "off"
          .form-group
            = f.label :description, "What did you like about it? (optional)"
            .row
              = f.text_area :description
          .row
            = f.label :level, "Who's it for?"
            .btn-group{"data-toggle"=>"buttons"}
              .btn.btn-primary
                = f.radio_button :level, 1
                Beginner
              .btn.btn-primary
                = f.radio_button :level, 2
                Intermediate
              .btn.btn-primary
                = f.radio_button :level, 3
                Advanced
          .row
            = f.label :free, "Is it free?"
            .btn-group{"data-toggle"=>"buttons"}
              .btn.btn-primary
                = f.radio_button :free, true
                Yes
              .btn.btn-primary
                = f.radio_button :free, false
                No
          .row
            = f.submit "Submit", class: 'submit-link'
