!!! XML
!!!
%html{:lang=>'en'}
  %head
    %meta{:charset=>"utf-8"}
    %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
    %title teach yourself to code
    / is open source!
    / check it out https://github.com/kateray/tytc
    = favicon_link_tag 'favicon.ico'
    <meta name = "description" content = "Link sharing site for the best programming tutorials and resources">
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = render "shared/google_analytics"
    = csrf_meta_tag
  %body{:class => "#{controller_name} #{action_name}"}
    -# - if flash[:error]
    -#   = content_tag :div, flash[:error], :class => "alert alert-danger"

    %span.hidden-xs
      %nav.navbar.navbar-default.navbar-fixed-top{:role=>"navigation"}
        .container
          .col-sm-12
            .navbar-header.col-sm-5
              .navbar-brand
                = link_to root_path do
                  %img{:src => asset_path("code-logo.png")}
                  teach yourself to code
            .language-nav.dropdown.col-sm-5
              %btn.dropdown-toggle{type: "button", id: "language-dropdown", "data-toggle"=> "dropdown"}
                .language-name
                  = yield :language_name
                %i.fa.fa-sort
              %ul.dropdown-menu{role: "menu", "aria-labelledby"=>"language-dropdown"}
                - Language.all.each do |l|
                  %li
                    = link_to l.name, language_path(l), html_options: {role: "menuitem", tabindex: "-1"}

            .nav.navbar-nav.navbar-right
              = link_to('about', '#about')
              |
              - if current_user
                = image_tag(current_user.avatar_url, class: "avatar")
                = link_to('sign out', destroy_user_session_path, :method => :delete)
              - else
                %span.login-link{"data-toggle"=>"modal", "data-target"=>".login-form"}
                  sign in
              - if params[:action] != "home"
                - if current_user
                  .add-link-button{"data-toggle"=>"modal", "data-target"=>".new-link-form"}
                    + add link
                - else
                  .add-link-button{"data-toggle"=>"modal", "data-target"=>".login-form"}
                    + add link

    %span.visible-xs
      %nav.navbar.navbar-default.navbar-fixed-top{:role=>"navigation"}
        .navbar-header
          %a.navbar-brand{:href => "/"}
            %img.hidden-xs{:src => asset_path("code-logo.png")}
            teach yourself to code
            .language-name
              = yield :language_name
          .mobile-right
            = link_to('about', '#about')


    = yield
    = render "/shared/login"
    .block-container.special-footer
      .sticky
        .container
          .col-sm-offset-5.sticky-language
            everything
      .footer#about
        .container
          .col-sm-12
            #footer-header
              about
              %br
              %br
            Four years ago, a friend lent me his Rails book and I took it with me on a family vacation and learned Rails. I was happy to discover that programming itself was fun, but also realized it was power. Anything I could imagine, I could build. Suddenly I was having new ideas about every problem I encountered, and the ability to act on them. It changed the way I thought.
            %br
            %br
            Don’t believe people who say that learning to code is easy. Better to go in knowing that it’s hard and frustrating and that most of the time you will feel like you <a href="http://i.imgur.com/xVyoSl.jpg" target="_blank">have no idea what you’re doing</a>. There are a lot of people who will help you, at <a href="http://www.meetup.com" target="_blank">Meetups</a> or on <a href="http://stackoverflow.com" target="_blank">StackOverflow</a>. But if you don’t know where to start, I made this site for you.
            %br
            Have fun.
            %br
            #signoff
              <3 @<a href="https://twitter.com/kraykray" target="_blank">kraykray</a>
            %br
            %br
            %br
            %br
            %i
              Huge thanks to <a href="https://twitter.com/codybrown" target="_blank">Cody Brown</a> and <a href="https://twitter.com/aidanfeldman" target="_blank">Aidan Feldman</a> for their help with the design and content of this site, and to the <a href="http://www.shuttleworthfoundation.org" target="_blank">Shuttleworth Foundation</a> for their awesome Flash Grant.
            %img{:src => asset_path("shuttleworth.jpg")}
